@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css');

* {
  font-family: 'Open Sans', 'sans-serif', 'FontAwesome';
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.regcont {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px; /* Отступ сверху для выравнивания по центру */
}

.regH1 {
  color: #30a8cc; /* Цвет заголовка */
  font-size: 24px; /* Размер шрифта заголовка */
  margin-bottom: 20px; /* Отступ снизу для заголовка */
}

.registrForm {
  width: 300px; /* Ширина формы */
  padding: 20px; /* Внутренние отступы */
  border-radius: 8px; /* Закругленные углы формы */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тень формы */
}

.registrForm input {
  width: 100%; /* Ширина инпутов */
  height: 40px; /* Высота инпутов */
  margin-bottom: 20px; /* Отступ снизу между инпутами */
  padding: 0 10px; /* Внутренние отступы инпутов */
  border: 1px solid #ccc; /* Граница инпутов */
  border-radius: 5px; /* Закругленные углы инпутов */
}

.registrForm button {
  width: 100%; /* Ширина кнопки */
  height: 40px; /* Высота кнопки */
  background-color: #30a8cc; /* Цвет кнопки */
  color: #fff; /* Цвет текста на кнопке */
  border: none; /* Убираем границу кнопки */
  border-radius: 5px; /* Закругляем углы кнопки */
  cursor: pointer; /* Изменяем курсор при наведении */
  transition: background-color 0.3s; /* Плавное изменение цвета фона при наведении */
}

.registrForm button:hover {
  background-color: #1f7a8c; /* Цвет кнопки при наведении */
}

.errRega {
  color: red; /* Цвет текста сообщения об ошибке */
  margin-top: 10px; /* Отступ сверху для сообщения об ошибке */
}

